.first-block{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 10px;
}

.second-block{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.second-block button{
    font-size: 11px;
    background-color: rgb(58, 57, 57);
}